.bg-chocolate {
    background-color: #494949;
}

.bg-light-chocolate {
    background-color: #535353;
}

.sd {
    color: #6ca6cd;
}

.inverse-sigma {
    color: #ad7f97;
}

.mc {
    color: #ff4c4c;
}